USE [master]
GO
/****** Object:  Database [CosmeticDB]    Script Date: 29-Nov-20 2:06:12 PM ******/
CREATE DATABASE [CosmeticDB]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'CosmeticDB', FILENAME = N'D:\Program Files\Microsoft SQL Server\MSSQL15.SQLEXPRESS\MSSQL\DATA\CosmeticDB.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'CosmeticDB_log', FILENAME = N'D:\Program Files\Microsoft SQL Server\MSSQL15.SQLEXPRESS\MSSQL\DATA\CosmeticDB_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
 WITH CATALOG_COLLATION = DATABASE_DEFAULT
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [CosmeticDB].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [CosmeticDB]
GO
/****** Object:  Table [dbo].[Customer]    Script Date: 29-Nov-20 2:06:13 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Customer](
	[CustomerId] [varchar](50) NOT NULL,
	[CustomerPass] [varchar](50) NOT NULL,
	[CustomerName] [varchar](50) NOT NULL,
	[CustomerPhone] [int] NOT NULL,
	[CustomerQueue] [int] NULL,
 CONSTRAINT [PK__Customer__A4AE64D857A08726] PRIMARY KEY CLUSTERED 
(
	[CustomerId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[CustomerQueue]    Script Date: 29-Nov-20 2:06:13 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[CustomerQueue](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[QueueDate] [varchar](50) NOT NULL,
	[QueueTime] [varchar](50) NOT NULL,
	[Treatment] [varchar](50) NOT NULL,
 CONSTRAINT [PK__Customer__3214EC075C209D46] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Index [IX_CustomerQueue]    Script Date: 29-Nov-20 2:06:13 PM ******/
CREATE UNIQUE NONCLUSTERED INDEX [IX_CustomerQueue] ON [dbo].[CustomerQueue]
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
ALTER TABLE [dbo].[Customer]  WITH CHECK ADD  CONSTRAINT [FK_KEY] FOREIGN KEY([CustomerQueue])
REFERENCES [dbo].[CustomerQueue] ([Id])
GO
ALTER TABLE [dbo].[Customer] CHECK CONSTRAINT [FK_KEY]
GO
USE [master]
GO
